body
{
	margin:0px;
	font-family: sans-serif;
}
a
{
	text-decoration: none;
	color: #008000;
	font-family: fantasy;
	font-size: 15px;
	letter-spacing: 2px;
}
.container
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.top
{
	height: 70px;
	color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	width: 100%;

}
.number
{
	color:#008000;
	font-family: fantasy;
	font-size: 15px;
}
.shop_name
{
	color: #008000;
	font-family: fantasy;
	font-size: 30px;
	letter-spacing: 5px;
	width: 200px;
	height: 40px;
	margin-right:-75px;
}
.mail
{
	color: #008000;
	font-family: fantasy;
	font-size: 15px;
    padding-left: 69px;
}
.top_bottom
{
	background-color: #560319;
	height: 20px;
	width: 100%;
}
.gradient_top
{
	height: 70px;
	background-color: black;
}
.clothes
{
	color: #008000;
	padding: 20px;
	font-size: 20px;
}
.shoes
{
	margin:10px;
	color: #008000;
	padding: 20px;
	display: flex;
	font-size: 20px;
}
.acessor
{
	color: #008000;
	padding: 20px;
	font-size: 20px;
}
.main_part
{
	height: 800px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.item
{
	height: 200px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #008000;
	margin: 100px;
	font-size: 25px;
}
.item1
{
	margin-top:-10px;
	height: 165px;
	width: 130px;
}
.bottom
{
	height: 70px;
	color: black;
	background-color: black;
	width: 100%;
	display:flex;
	align-items: center;
}
.info_bottom
{
	display:flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.number_bottom
{
	color: #008000;
	font-family: fantasy;
	font-size: 15px;
	letter-spacing: 2px;
	
}
.mail_bottom
{
	color: #008000;
	font-family: fantasy;
	font-size: 15px;
	letter-spacing: 2px;
}